.container {
  min-height: 150vh;
  min-width: 100%;
  overflow: hidden;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #0f1216;
  text-align: center;
}

.planets {
  bottom: -5em;
  position: relative;
  display: flex;
  width: 45em;
  height: 45em;
}

.container h1 {
  width: 10em;
  padding-top: 2em;
  margin: auto;
  font-weight: 200;
  letter-spacing: 0.5em;
  color: rgb(231, 231, 231);
}

@media only screen and (min-width: 500px) {
  .container {
    min-height: 140vh;
  }
  .container h1 {
    width: auto;
  }

  .planets {
    bottom: -4em;
  }
}