@use "sass:math";

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  overflow: visible;
}

.innerWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: transform .1s ease;
  background-color: #0f1216;

  &:hover {
    transform: scale(1.02);
    cursor: pointer;
    background-color: #171a1e;
  }
}

.svgWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 102%;
  height: 102%;
  overflow: hidden;
  border-radius: 50%;
}

.svgWrapper svg {
  border-radius: 50%;
  overflow: hidden;
}

.childrenContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: visible;
}

.orbitalBodyContainer {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

// generating 20 random values to handle different planet starting positions
@for $i from 1 to 20 {
  $startingPosition: math.random(361) - 1;
  
  @keyframes rotateContainer#{$i} {
    from {
      transform: rotate(#{$startingPosition}deg);
    }
    to {
      transform: rotate(#{$startingPosition + 360}deg);
    }
  }

  .wrapper {
    :global(.orbitalNumber#{$i}) {
        animation-name: rotateContainer#{$i};
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
  }
}


.orbitalBody {
  position: absolute;
  top: 0;
  right: 50%;
  width: 25px;
  height: 25px;
  transform: translateX(50%) translateY(-50%) rotate(360deg);
  border-radius: 50%;
  animation: rotatePlanet infinite linear;
  animation-duration: inherit;
}

@keyframes rotatePlanet {
  from {
    transform: translateX(50%) translateY(-50%) rotate(360deg);
  }
  to {
    transform: translateX(50%) translateY(-50%) rotate(0deg);
  }
}
