.wrapper {
  h1 {
    font-size: 3em;
  }

  p {
    font-size: 1.5em;
  }

  .flexRight {
    display: flex;
    justify-content: flex-end;
  }

  .imageWrapper {
    width: fit-content;

    @media only screen and (min-width: 500px) {
      margin-right: 3em;
    }
  }
}